workflow.json
{
  "name": "JD to Resume Tailor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-tailor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst jd = body.jd;\n\nif (!jd || typeof jd !== 'string' || jd.trim().length === 0) {\n  throw new Error('Missing or empty jd field in request body');\n}\n\n// reset retry counter on each fresh request\n$workflow.staticData.retryCount = 0;\n$workflow.staticData.pageRetryCount = 0;\n\nreturn [{ json: { jd: jd.trim() } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "filePath": "/data/master_resume.json"
      },
      "id": "read-master-resume",
      "name": "Read Master Resume",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nconst jsonStr = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nconst resume = JSON.parse(jsonStr);\nconst jd = $('Validate Input').first().json.jd;\nreturn [{ json: { resume, jd } }];"
      },
      "id": "parse-resume",
      "name": "Parse Resume JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "filePath": "/data/prompts/extract_metadata.md"
      },
      "id": "read-extract-prompt",
      "name": "Read Extract Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nconst prompt = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nconst jd = $('Parse Resume JSON').first().json.jd;\nreturn [{ json: { extractPrompt: prompt, jd } }];"
      },
      "id": "prep-extract-call",
      "name": "Prep Extract Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 256, system: $json.extractPrompt, messages: [{ role: 'user', content: $json.jd }] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "anthropic-extract",
      "name": "Anthropic: Extract Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst text = resp.content[0].text.trim();\nlet meta;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  meta = JSON.parse(match ? match[0] : text);\n} catch(e) {\n  throw new Error('Metadata extraction returned invalid JSON: ' + text);\n}\nconst resume = $('Parse Resume JSON').first().json.resume;\nconst jd = $('Parse Resume JSON').first().json.jd;\nreturn [{ json: { meta, resume, jd } }];"
      },
      "id": "parse-metadata",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "filePath": "/data/prompts/tailor_system.md"
      },
      "id": "read-tailor-prompt",
      "name": "Read Tailor Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nconst systemPrompt = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nconst { meta, resume, jd } = $('Parse Metadata').first().json;\nconst retryReason = $workflow.staticData.retryReason || null;\n\nlet userMsg = `MASTER RESUME:\\n${JSON.stringify(resume, null, 2)}\\n\\nJOB DESCRIPTION:\\n${jd}`;\nif (retryReason) {\n  userMsg += `\\n\\nREVISION REQUIRED: ${retryReason}`;\n}\n\nreturn [{ json: { systemPrompt, userMsg, meta, resume, jd } }];"
      },
      "id": "prep-tailor-call",
      "name": "Prep Tailor Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMsg }] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "anthropic-tailor",
      "name": "Anthropic: Tailor Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst text = resp.content[0].text.trim();\n\nlet tailored;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  tailored = JSON.parse(match ? match[0] : text);\n} catch(e) {\n  throw new Error('Tailoring returned invalid JSON: ' + text.substring(0, 200));\n}\n\nconst SUMMARY_LIMIT = 280;\nconst BULLET_CEIL = 220;\nconst BULLET_FLOOR = 150;\nconst PROJECT_DESC_LIMIT = 180;\n\nconst errors = [];\n\nif (!tailored.summary || tailored.summary.length > SUMMARY_LIMIT) {\n  errors.push(`Summary exceeds ${SUMMARY_LIMIT} chars (got ${tailored.summary?.length})`);\n}\n\nif (!Array.isArray(tailored.tech_stack) || tailored.tech_stack.length < 8 || tailored.tech_stack.length > 12) {\n  errors.push(`tech_stack must have 8-12 items (got ${tailored.tech_stack?.length})`);\n}\n\nfor (const job of (tailored.experience || [])) {\n  for (const bullet of (job.bullets || [])) {\n    if (bullet.length > BULLET_CEIL) {\n      errors.push(`Bullet exceeds ${BULLET_CEIL} chars in ${job.company}: \"${bullet.substring(0, 60)}...\"`);\n    } else if (bullet.length < BULLET_FLOOR) {\n      errors.push(`Bullet under ${BULLET_FLOOR} chars in ${job.company}: \"${bullet.substring(0, 60)}...\"`);\n    }\n  }\n}\n\nfor (const proj of (tailored.projects || [])) {\n  if (proj.description && proj.description.length > PROJECT_DESC_LIMIT) {\n    errors.push(`Project \"${proj.name}\" description exceeds ${PROJECT_DESC_LIMIT} chars`);\n  }\n}\n\nif (tailored.projects && tailored.projects.length > 2) {\n  tailored.projects = tailored.projects.slice(0, 2);\n}\n\nconst retryCount = $workflow.staticData.retryCount || 0;\nconst needsRetry = errors.length > 0;\n\nif (needsRetry) {\n  $workflow.staticData.retryReason = `Previous response exceeded length limits. Issues: ${errors.join('; ')}. Compress while preserving all hard numbers and tools. Stay within the bullet formula (150-220 chars).`;\n}\n\nreturn [{ json: { tailored, needsRetry, retryCount, errors } }];"
      },
      "id": "validate-lengths",
      "name": "Validate Lengths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsRetry && $json.retryCount < 2 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "retry-check",
      "name": "Needs Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "jsCode": "// increment retry counter and loop back\n$workflow.staticData.retryCount = ($workflow.staticData.retryCount || 0) + 1;\nconst { tailored, errors } = $input.first().json;\nreturn [{ json: { tailored, errors, retryCount: $workflow.staticData.retryCount } }];"
      },
      "id": "increment-retry",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "jsCode": "const { tailored } = $input.first().json;\n\nconst resume = $('Parse Resume JSON').first().json.resume;\n\n// Build experience HTML\nlet expHtml = '';\nfor (const job of tailored.experience) {\n  const bullets = (job.bullets || []).map(b => `<li>${b}</li>`).join('\\n        ');\n  expHtml += `\n  <div class=\"job\">\n    <div class=\"job-header\">\n      <div>\n        <span class=\"job-title\">${job.title}</span> &mdash;\n        <span class=\"job-company\">${job.company}</span>\n        <span class=\"job-location\">&nbsp;·&nbsp;${job.location}</span>\n      </div>\n      <div class=\"job-dates\">${job.start} – ${job.end}</div>\n    </div>\n    <ul class=\"bullets\">\n        ${bullets}\n    </ul>\n  </div>`;\n}\n\n// Build projects HTML\nlet projHtml = '';\nfor (const proj of (tailored.projects || []).slice(0, 2)) {\n  projHtml += `\n  <div class=\"project\">\n    <span class=\"project-name\">${proj.name}</span>\n    <span class=\"project-desc\"> — ${proj.description}</span>\n  </div>`;\n}\n\n// Education (static from master)\nlet eduHtml = '';\nfor (const edu of resume.education) {\n  eduHtml += `\n  <div class=\"edu-row\">\n    <div>\n      <div class=\"edu-school\">${edu.school}</div>\n      <div class=\"edu-degree\">${edu.degree}</div>\n    </div>\n    <div class=\"edu-meta\">${edu.date}<br>GPA: ${edu.gpa}</div>\n  </div>`;\n}\n\nreturn [{ json: { tailored, expHtml, projHtml, eduHtml } }];"
      },
      "id": "build-html-parts",
      "name": "Build HTML Parts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "filePath": "/data/templates/resume.html"
      },
      "id": "read-template",
      "name": "Read Template",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [3320, 400]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nlet html = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n\nconst resume = $('Parse Resume JSON').first().json.resume;\nconst { tailored, expHtml, projHtml, eduHtml } = $('Build HTML Parts').first().json;\n\nhtml = html.replace('{{name}}', resume.name);\nhtml = html.replace('{{email}}', resume.contact.email);\nhtml = html.replace('{{phone}}', resume.contact.phone);\nhtml = html.replace('{{location}}', resume.contact.location);\nhtml = html.replace('{{linkedin}}', resume.contact.linkedin);\nhtml = html.replace('{{github}}', resume.contact.github);\nhtml = html.replace('{{summary}}', tailored.summary);\nhtml = html.replace('{{tech_stack}}', tailored.tech_stack.join(' · '));\nhtml = html.replace('{{experience}}', expHtml);\nhtml = html.replace('{{projects}}', projHtml);\nhtml = html.replace('{{education}}', eduHtml);\n\nreturn [{ json: { renderedHtml: html, tailored } }];"
      },
      "id": "render-html",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "renderedHtmlFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "gotenberg-pdf",
      "name": "Gotenberg: HTML to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Convert rendered HTML string to binary so it can be sent as a file\nconst { renderedHtml, tailored } = $('Render HTML').first().json;\n\nconst buf = Buffer.from(renderedHtml, 'utf-8');\nconst base64 = buf.toString('base64');\n\nreturn [{\n  json: { tailored },\n  binary: {\n    renderedHtmlFile: {\n      data: base64,\n      mimeType: 'text/html',\n      fileName: 'resume.html'\n    }\n  }\n}];"
      },
      "id": "html-to-binary",
      "name": "HTML to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 400]
    },
    {
      "parameters": {
        "jsCode": "// Use pdf-lib to count pages\nconst { PDFDocument } = require('pdf-lib');\n\nconst pdfBinary = $input.first().binary.pdfData;\nif (!pdfBinary) throw new Error('No PDF received from Gotenberg');\n\nconst pdfBytes = Buffer.from(pdfBinary.data, 'base64');\nconst pdfDoc = await PDFDocument.load(pdfBytes);\nconst pageCount = pdfDoc.getPageCount();\n\nconst tailored = $('Build HTML Parts').first().json.tailored;\nconst pageRetryCount = $workflow.staticData.pageRetryCount || 0;\nconst tooLong = pageCount > 1;\n\nif (tooLong) {\n  $workflow.staticData.retryReason = `Resume rendered as ${pageCount} pages instead of 1. Aggressively compress all bullet points to 150-170 chars each. Reduce summary to under 220 chars. Keep only the 8 most relevant tech stack items.`;\n  $workflow.staticData.retryCount = 0;\n}\n\nreturn [{ json: { pageCount, tooLong, pageRetryCount, tailored, pdfBase64: pdfBinary.data } }];"
      },
      "id": "verify-page-count",
      "name": "Verify Page Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tooLong && $json.pageRetryCount < 2 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "page-retry-check",
      "name": "Page Overflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4420, 400]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData.pageRetryCount = ($workflow.staticData.pageRetryCount || 0) + 1;\nreturn $input.all();"
      },
      "id": "increment-page-retry",
      "name": "Increment Page Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4640, 300]
    },
    {
      "parameters": {
        "jsCode": "const { tailored, pdfBase64 } = $input.first().json;\n\nconst company = (tailored.company || 'Company').replace(/[^a-zA-Z0-9]/g, '_');\nconst role = (tailored.role || 'Role').replace(/[^a-zA-Z0-9]/g, '_');\nconst filename = `Sridhar_Resume_${company}_${role}.pdf`;\nconst outputPath = `/data/output/${filename}`;\n\nreturn [{\n  json: { outputPath, filename, tailored, pdfBase64 },\n  binary: {\n    pdfFile: {\n      data: pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: filename\n    }\n  }\n}];"
      },
      "id": "prep-save",
      "name": "Prep Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4640, 500]
    },
    {
      "parameters": {
        "filePath": "={{ $json.outputPath }}",
        "dataPropertyName": "pdfFile"
      },
      "id": "save-pdf",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [4860, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', file_path: $('Prep Save').first().json.outputPath, company: $('Prep Save').first().json.tailored.company, role: $('Prep Save').first().json.tailored.role }) }}"
      },
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [5080, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', stage: 'validation', message: $input.first().json.message || 'Unknown error' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Read Master Resume", "type": "main", "index": 0 }]]
    },
    "Read Master Resume": {
      "main": [[{ "node": "Parse Resume JSON", "type": "main", "index": 0 }]]
    },
    "Parse Resume JSON": {
      "main": [[{ "node": "Read Extract Prompt", "type": "main", "index": 0 }]]
    },
    "Read Extract Prompt": {
      "main": [[{ "node": "Prep Extract Call", "type": "main", "index": 0 }]]
    },
    "Prep Extract Call": {
      "main": [[{ "node": "Anthropic: Extract Metadata", "type": "main", "index": 0 }]]
    },
    "Anthropic: Extract Metadata": {
      "main": [[{ "node": "Parse Metadata", "type": "main", "index": 0 }]]
    },
    "Parse Metadata": {
      "main": [[{ "node": "Read Tailor Prompt", "type": "main", "index": 0 }]]
    },
    "Read Tailor Prompt": {
      "main": [[{ "node": "Prep Tailor Call", "type": "main", "index": 0 }]]
    },
    "Prep Tailor Call": {
      "main": [[{ "node": "Anthropic: Tailor Resume", "type": "main", "index": 0 }]]
    },
    "Anthropic: Tailor Resume": {
      "main": [[{ "node": "Validate Lengths", "type": "main", "index": 0 }]]
    },
    "Validate Lengths": {
      "main": [[{ "node": "Needs Retry?", "type": "main", "index": 0 }]]
    },
    "Needs Retry?": {
      "main": [
        [{ "node": "Increment Retry", "type": "main", "index": 0 }],
        [{ "node": "Build HTML Parts", "type": "main", "index": 0 }]
      ]
    },
    "Increment Retry": {
      "main": [[{ "node": "Prep Tailor Call", "type": "main", "index": 0 }]]
    },
    "Build HTML Parts": {
      "main": [[{ "node": "Read Template", "type": "main", "index": 0 }]]
    },
    "Read Template": {
      "main": [[{ "node": "Render HTML", "type": "main", "index": 0 }]]
    },
    "Render HTML": {
      "main": [[{ "node": "HTML to Binary", "type": "main", "index": 0 }]]
    },
    "HTML to Binary": {
      "main": [[{ "node": "Gotenberg: HTML to PDF", "type": "main", "index": 0 }]]
    },
    "Gotenberg: HTML to PDF": {
      "main": [[{ "node": "Verify Page Count", "type": "main", "index": 0 }]]
    },
    "Verify Page Count": {
      "main": [[{ "node": "Page Overflow?", "type": "main", "index": 0 }]]
    },
    "Page Overflow?": {
      "main": [
        [{ "node": "Increment Page Retry", "type": "main", "index": 0 }],
        [{ "node": "Prep Save", "type": "main", "index": 0 }]
      ]
    },
    "Increment Page Retry": {
      "main": [[{ "node": "Prep Tailor Call", "type": "main", "index": 0 }]]
    },
    "Prep Save": {
      "main": [[{ "node": "Save PDF", "type": "main", "index": 0 }]]
    },
    "Save PDF": {
      "main": [[{ "node": "Respond: Success", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T00:00:00.000Z",
  "versionId": "1"
}
